
<div class="starter-template">
  <h1>What's Sinatrax for?</h1>
  <p class="lead">Use Sinatrax to create Sinatra projects with ActiveRecord, Migration, Bootstrap and FontAwesome in a fast way.</p>
</div>

<div class="starter-template">
  <h2>What's Sinatrax for?</h2>
  <p class="lead">Use Sinatrax to create Sinatra projects with ActiveRecord, Migration, Bootstrap and FontAwesome in a fast way.</p>
</div>

